In [1]:
import pandas as pd
import numpy as np 
import datetime

In [63]:
#df1 = pd.read_excel('exportacao.xlsx')
df2 = pd.read_excel('consumo_energia_industrial.xlsx')
df3 = pd.read_excel('indice_comm_energia.xlsx')
df4 = pd.read_excel('indice_ind_transf.xlsx')
df5 = pd.read_excel('capacidade_instalada_ind.xlsx')
df6 = pd.read_excel('credito_bndes.xlsx')
#df7 = pd.read_excel('pib_setor_ind.xlsx')

In [64]:
df2.set_index('data', inplace=True)
df3.set_index('data', inplace=True)
df4.set_index('data', inplace=True)
df5.set_index('data', inplace=True)
df6.set_index('data', inplace=True)

In [65]:
df6.head(2)

            bndes_system_disbursements_manufacturing_industry(mm)
data
1995-01-01                                              175.0
1995-02-01                                              407.0

In [68]:
df = df2[['energia_industrial']]
df['indic_comm_energ'] = df3[['commodity_index_brazil_energy']]
df['indic_ind_transf'] = df4[['indice_ind_transf']]
df['capacity_ind'] = df5[['capacity_utilization_manufacturing_industry_seasonally_adjusted_%_fgv']]
df['credit_bndes'] = df6[['bndes_system_disbursements_manufacturing_industry(mm)']]
df.tail(2)

,energia_industrial,indic_comm_energ,indic_ind_transf,capacity_ind,credit_bndes
data,,,,,
2022-12-01,14.933,248.03,99.5,79.6,18.89
2023-01-01,14.942,210.31,98.7,78.8,NaN

In [69]:
df.dropna(inplace=True)

In [72]:
df.head()

,energia_industrial,indic_comm_energ,indic_ind_transf,capacity_ind,credit_bndes
data,,,,,
2002-01-01,9.431,34.15,91.8,79.8,1.024
2002-02-01,9.919,33.19,94.1,79.4,1.792
2002-03-01,10.362,35.93,93.2,79.3,2.401
2002-04-01,10.762,37.97,93.5,79.0,3.204
2002-05-01,10.920,41.21,93.4,78.7,4.903

In [73]:
df.to_pickle('dados_economicos_industria.pkl')